### RoboRio Installers
robotpy-installer==2025.0.0b1

### RobotPy
robotpy==2025.0.0b2
robotpy[commands2]==2025.0.0b2
robotpy[rev]==2025.0.0.b2
robotpy[phoenix6]==2025.0.0b2
robotpy[apriltag]==2025.0.b2
robotpy[cscore]==2025.0.b2
robotpy[sim]==2025.0.0b2
robotpy[navx]==2025.0.0b2
robotpy[pathplannerlib]==2025.0.0b2
robotpy[urcl]==2025.0.0b2

## Other
